{
  "plugins": [[
    "transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true
    }]
  ],
  "presets": [
    "env"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
