{
  "extends": [
    "stylelint-config-standard",
    "stylelint-rscss/config"
  ],
  "plugins": [
    "stylelint-rscss",
    "stylelint-order",
    "stylelint-scss",
    "stylelint-declaration-strict-value"
  ],
  "rules": {
    "at-rule-empty-line-before": [ "always", {
      "except": [
        "after-same-name",
        "blockless-after-same-name-blockless",
        "blockless-after-blockless",
        "first-nested"
      ],
      "ignore": ["after-comment", "inside-block"],
      "severity": "warning"
    }],
    "comment-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["stylelint-commands", "after-comment"],
      "severity": "warning"
    }],
    "max-empty-lines": 2,
    "number-leading-zero": "always",
    "unit-whitelist": ["px", "em", "rem", "%", "s"],
    "rscss/no-descendant-combinator": false,
    "rscss/class-format": [
      false,
      {
        "component": "/^[a-z][a-z0-9-]*$/",
        "componentWhitelist": [
          "btn",
          "container",
          "checkbox",
          "radio"
        ]
      }
    ],
    "order/order":  [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      "at-rules"
    ],
    "order/properties-order": [
      "display",
      "visibility",
      "float",
      "clear",

      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",

      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "overflow",

      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",

      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",

      "border",
      "border-width",
      "border-top-width",
      "border-right-width",
      "border-bottom-width",
      "border-left-width",

      "border-style",
      "border-top-style",
      "border-right-style",
      "border-bottom-style",
      "border-left-style",

      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",

      "border-color",
      "border-top-color",
      "border-right-color",
      "border-bottom-color",
      "border-left-color",

      "outline",
      "box-shadow",

      "list-style",

      "table-layout",
      "caption-side",
      "border-collapse",
      "border-spacing",
      "empty-cells",

      "font",
      "font-family",
      "font-size",
      "line-height",
      "font-weight",
      "text-align",
      "text-indent",
      "text-transform",
      "text-decoration",
      "letter-spacing",
      "word-spacing",
      "white-space",
      "vertical-align",
      "color",
      "text-shadow",

      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-position-x",
      "background-position-y",

      "opacity",
      "transform",

      "animation",
      "transition",

      "cursor",

      "content",
      "quotes"
    ]
  }
}
