
@import "./partials-base.pcss";

/* Variables */
$blue: #056ef0;
$column: 200px;

.menu {
  width: calc(4 * $column);
}

.menu-link {
  width: $column;
  background: $blue;
}

/* Conditionals */
.notice--clear {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}

/* Loops */
@for $i from 1 to 3 {
  .b-$i { width: $(i)px; }
}

@each $icon in (foo, bar, baz) {
  .icon-$(icon) {
    background: url(/icons/$icon.png);
  }
}

/* Mixins */
@define-mixin icon $name {
  padding-left: 16px;

  &::after {
    background: url(/icons/$name.png);
    content: "";
  }
}

.search {
  @mixin icon search;
}

/* Extends */
@define-extend bg-green {
  background: green;
}

.notice--clear-2 {
  @extend bg-green;
}

/* Property Lookup */
.heading {
  margin: 20px;
  padding: @margin;
}

/* Root */
.parent {
  background: white;

  @at-root {
    .child {
      background: black;
    }
  }
}

/* postcss-utilities */
.cfx {
  @util clearfix;
}

.box-16-9 {
  display: flex;
  margin-bottom: 20px;
  background-color: #ccc;

  @util aspect-ratio(16:9);
}

/* apply and custom properties & var() */
:root {
  /* --toolbar-theme: { */
  /* background-color: rebeccapurple; */
  /* color: white; */
  /* border: 1px solid green; */
  /* }; */
  /* --toolbar-title-theme: { */
  /* color: green; */
  /* }; */
  --my-color: red;
  --your-color: green;
}

.toolbar {
  /* @apply --toolbar-theme; */
  background-color: var(--my-color);
}

.toolbar-title {
  /* @apply --toolbar-theme; */
  /* @apply --toolbar-title-theme; */
  color: var(--your-color);
}

a {
  box-shadow:
    0 0 0 1px #5b9dd9,
    0 0 2px 1px rgba(30, 140, 190, 0.8);
}

b {
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  color: $(partial);
}
