<!doctype html>
<html>
<head>
    <!--<base href="/">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular1 ES6 PostCSS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/leaflet/1.0.3/leaflet.css" rel="stylesheet">
</head>

<body ng-app="app" ng-strict-di>
    <ui-view></ui-view>
    <script src="//cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-sanitize.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
    <script src="//cdn.bootcss.com/angular-translate/2.7.2/angular-translate.min.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.bootcss.com/leaflet/1.0.3/leaflet.js"></script>
    <script src="//cdn.bootcss.com/d3/4.7.4/d3.min.js"></script>
    <script>
        window.webpackManifest = <%= htmlWebpackPlugin.files.webpackManifestJson %> ;
    </script>
    <%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
